USE [master]
GO
/****** Object:  Database [project]    Script Date: 9/11/2019 8:27:40 PM ******/
CREATE DATABASE [project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'project_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\project.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project]
GO
/****** Object:  Table [dbo].[author]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[YearPublished] [date] NOT NULL,
	[QOH] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
	[PublishID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_book_id] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookOrder]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookOrder](
	[CustomerOrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[OrderQuantity] [int] NOT NULL,
 CONSTRAINT [PK_bookOrder] PRIMARY KEY CLUSTERED 
(
	[CustomerOrderID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[FaxNumber] [nvarchar](20) NOT NULL,
	[CreditLimit] [float] NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customerOrder]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customerOrder](
	[CustomerOrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
 CONSTRAINT [PK_customerOrder] PRIMARY KEY CLUSTERED 
(
	[CustomerOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[InvoiceID] [int] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[TypeOfPayment] [varchar](50) NOT NULL,
	[PaymentDate] [date] NULL,
	[IsPaid] [nchar](1) NOT NULL,
 CONSTRAINT [PK_invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publisher]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publisher](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_publisher] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/11/2019 8:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([AuthorID], [FirstName], [LastName], [Email]) VALUES (1, N'Fern', N'Michaels', N'FernMichaels@gmail.com')
INSERT [dbo].[author] ([AuthorID], [FirstName], [LastName], [Email]) VALUES (2, N'Sinead', N'Moriarty', N'SineadMoriarty@gmail.com')
INSERT [dbo].[author] ([AuthorID], [FirstName], [LastName], [Email]) VALUES (8, N'Sarah', N'Dunn', N'SarahDunn@gmail.com')
SET IDENTITY_INSERT [dbo].[author] OFF
SET IDENTITY_INSERT [dbo].[book] ON 

INSERT [dbo].[book] ([BookID], [ISBN], [Title], [UnitPrice], [YearPublished], [QOH], [AuthorID], [PublishID], [CategoryID]) VALUES (18, N'0-13-896598-6', N'This Child Of Mine', 12.5, CAST(N'2013-01-10' AS Date), 120, 2, 1, 1)
INSERT [dbo].[book] ([BookID], [ISBN], [Title], [UnitPrice], [YearPublished], [QOH], [AuthorID], [PublishID], [CategoryID]) VALUES (19, N'1-11-826598-4', N'Crash And Burn', 9.8, CAST(N'2016-03-06' AS Date), 200, 1, 2, 1)
INSERT [dbo].[book] ([BookID], [ISBN], [Title], [UnitPrice], [YearPublished], [QOH], [AuthorID], [PublishID], [CategoryID]) VALUES (21, N'1-12-566231-2', N'Perfect Match', 8.6, CAST(N'2015-07-08' AS Date), 86, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[book] OFF
INSERT [dbo].[bookOrder] ([CustomerOrderID], [BookID], [OrderQuantity]) VALUES (1, 21, 50)
INSERT [dbo].[bookOrder] ([CustomerOrderID], [BookID], [OrderQuantity]) VALUES (2, 21, 14)
INSERT [dbo].[bookOrder] ([CustomerOrderID], [BookID], [OrderQuantity]) VALUES (2, 26, 120)
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([CategoryID], [CategoryName]) VALUES (1, N'Novel                                             ')
INSERT [dbo].[category] ([CategoryID], [CategoryName]) VALUES (2, N'Program                                           ')
INSERT [dbo].[category] ([CategoryID], [CategoryName]) VALUES (3, N'Story                                             ')
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([CustomerID], [CustomerName], [Street], [City], [PostalCode], [PhoneNumber], [FaxNumber], [CreditLimit]) VALUES (1, N'University Of  Montreal', N'2158 ave bennett ', N'Montreal', N'P1Q 3T5', N'514-888-6633', N'514-888-6634', 5000)
INSERT [dbo].[customer] ([CustomerID], [CustomerName], [Street], [City], [PostalCode], [PhoneNumber], [FaxNumber], [CreditLimit]) VALUES (4, N'University Of  Mc-Gill', N'845 Rue Sherbrooke Ouest', N'Montreal', N'H3A 0G4', N'438-887-6958', N'438-887-6988', 6000)
INSERT [dbo].[customer] ([CustomerID], [CustomerName], [Street], [City], [PostalCode], [PhoneNumber], [FaxNumber], [CreditLimit]) VALUES (8, N'Cegep Saint Laurent', N' 625 Avenue Sainte-Croix', N'Saint-Laurent', N'H4L 3X7', N'514-747-6521', N'514-747-6523', 5000)
SET IDENTITY_INSERT [dbo].[customer] OFF
SET IDENTITY_INSERT [dbo].[customerOrder] ON 

INSERT [dbo].[customerOrder] ([CustomerOrderID], [CustomerID], [OrderDate]) VALUES (1, 1, CAST(N'2019-06-06' AS Date))
INSERT [dbo].[customerOrder] ([CustomerOrderID], [CustomerID], [OrderDate]) VALUES (2, 1, CAST(N'2019-05-11' AS Date))
INSERT [dbo].[customerOrder] ([CustomerOrderID], [CustomerID], [OrderDate]) VALUES (3, 4, CAST(N'2019-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[customerOrder] OFF
INSERT [dbo].[invoice] ([InvoiceID], [TotalPrice], [TypeOfPayment], [PaymentDate], [IsPaid]) VALUES (1, -79.56, N'Cash', CAST(N'2019-07-12' AS Date), N'Y')
SET IDENTITY_INSERT [dbo].[publisher] ON 

INSERT [dbo].[publisher] ([PublisherID], [Name]) VALUES (1, N'Penguin Books')
INSERT [dbo].[publisher] ([PublisherID], [Name]) VALUES (2, N'Kensingtion Books')
INSERT [dbo].[publisher] ([PublisherID], [Name]) VALUES (3, N'Hachette Books')
SET IDENTITY_INSERT [dbo].[publisher] OFF
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([RoleID], [Name]) VALUES (1, N'MIS Manager ')
INSERT [dbo].[role] ([RoleID], [Name]) VALUES (2, N'Sales Manager ')
INSERT [dbo].[role] ([RoleID], [Name]) VALUES (3, N'Order Clerks')
SET IDENTITY_INSERT [dbo].[role] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([UserID], [FirstName], [LastName], [UserName], [Password], [RoleID]) VALUES (1, N'Zhe', N'Yang', N'zhe', N'zhe1234', 1)
INSERT [dbo].[users] ([UserID], [FirstName], [LastName], [UserName], [Password], [RoleID]) VALUES (2, N'Krunal', N'Patel', N'krunal', N'krunal123', 2)
INSERT [dbo].[users] ([UserID], [FirstName], [LastName], [UserName], [Password], [RoleID]) VALUES (3, N'Mary', N'Brown', N'mary', N'mary123', 3)
SET IDENTITY_INSERT [dbo].[users] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [ISBN_Unique]    Script Date: 9/11/2019 8:27:40 PM ******/
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [ISBN_Unique] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_bookOrder]    Script Date: 9/11/2019 8:27:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_bookOrder] ON [dbo].[bookOrder]
(
	[CustomerOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_UserName]    Script Date: 9/11/2019 8:27:40 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [Unique_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[author] ([AuthorID])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_author]
GO
ALTER TABLE [dbo].[book]  WITH NOCHECK ADD  CONSTRAINT [FK_book_category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[category] ([CategoryID])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_category]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_publisher] FOREIGN KEY([PublishID])
REFERENCES [dbo].[publisher] ([PublisherID])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_publisher]
GO
ALTER TABLE [dbo].[bookOrder]  WITH CHECK ADD  CONSTRAINT [FK_bookOrder_book_ID] FOREIGN KEY([BookID])
REFERENCES [dbo].[book] ([BookID])
GO
ALTER TABLE [dbo].[bookOrder] CHECK CONSTRAINT [FK_bookOrder_book_ID]
GO
ALTER TABLE [dbo].[bookOrder]  WITH CHECK ADD  CONSTRAINT [FK_bookOrder_customerOrder] FOREIGN KEY([CustomerOrderID])
REFERENCES [dbo].[customerOrder] ([CustomerOrderID])
GO
ALTER TABLE [dbo].[bookOrder] CHECK CONSTRAINT [FK_bookOrder_customerOrder]
GO
ALTER TABLE [dbo].[customerOrder]  WITH CHECK ADD  CONSTRAINT [FK_customerOrder_customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[customer] ([CustomerID])
GO
ALTER TABLE [dbo].[customerOrder] CHECK CONSTRAINT [FK_customerOrder_customer]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [FK_invoice_customerOrder] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[customerOrder] ([CustomerOrderID])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [FK_invoice_customerOrder]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[role] ([RoleID])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_role]
GO
USE [master]
GO
